{% extends 'base.html' %}
{% block content %}

<h1>Pokedex</h1>

{% for monster in pokemon%}
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{monster.name}}</span>
            <p>Type: {{ monster.type }}</p>
            <p>Gender: {{ monster.gender }}</p>
            <p>Description: {{monster.description }}</p>
            {% if monster.level > 10 %}
                <p>Level: {{ monster.level }}</p>
            {% else %}
                <p>TOO LOW Level</p>
            {% endif %}
        </div>
    </div>
{% endfor %}
{% endblock %}